<!DOCTYPE html>
<html>
	<head>
		<title>Waa boggii barashada bogagga mareegta</title>
	</head>
	<body>
		<p>Asalaamu Calaykum</p>
		<p>Allah waa ii sahlay</p>
		<div>
			<h1><a href="/">abusalmah blog</a></h1>
		</div>

		<div>
			<p>la daabacay: 11.03.2019</p>
			<h2><a href="/">blog gii iigu horeeyay</a></h2>
			<p>urlpatterns = [ path('', views.post_list, name='post_list'),]</p>
		</div>

		<div>
			<p>la daabacay: 12.03.2019</p>
			<h2><a href="">Qormadaydii 2aad</a></h2>
			<p>urlpatterns = [ path('', views.post_list, name='post_list'),]</p>
		</div>
	</body>
</html>